.display__todo {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.display__todo__single {
}

.display__todo__buttons {
    
}
.display__todo__buttons button {
    /* border: 2px solid magenta; */
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}
.completed__todo{
    background-color: green;
}


/* development */

.display__todo.dev-mode {
    border: 2px dashed tomato;

}
.display__todo__single.dev-mode {
    /* border: 2px solid oldlace; */

}
.display__todo__buttons.dev-mode {
    /* border: 2px solid magenta; */

}
.display__todo__buttons.dev-mode button {
    /* border: 2px solid magenta; */

}
