.input__todo {
    /* background-color: black; */
    /* border: 2px solid olivedrab; */
    /* border-radius: 12px; */
}

.input__todo__form {
    display: flex;
    justify-content: center;
    /* border: 2px dashed tomato; */
    /* background-color: white; */

}
.input__todo__add__button{
    /* border-radius: 12px; */
}

.input__todo__form.dev-mode {
    border: 2px dashed rgb(235, 238, 23);
}