.input__todo {
    background-color: black;
    border: 2px solid olivedrab;
    border-radius: 12px;
}

.input__todo__form {
    display: flex;
    justify-content: center;
    border: 2px dashed tomato;
    /* background-color: white; */

}
button{
    border-radius: 12px;
}